streamlit~=1.36.0
pyyaml~=6.0
faker~=25.2.0
elasticsearch~=8.13.0
elasticsearch_dsl
faiss-cpu
yaml~=0.2.5
numpy~=1.24.3
pandas~=1.5.3
fastapi~=0.111.0
pydantic~=2.5.3
requests~=2.31.0
uvicorn~=0.30.1
torch~=2.0.1+cu118